<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <p>Créer un nouveau commentaire</p>
            <div class="my-5">
                <div id="form" method ='post'>
                    <div class="form-floating post-form" id="contenu" >
                        <textarea class="form-control postTextarea" name="contenu" type="text" placeholder="Entrez votre commentaire..." style="height: 12rem" data-sb-validations="required"></textarea>
                        <label for="contenu">Contenu</label>
                        <div class="invalid-feedback" data-sb-feedback="contenu:required">Un texte de 3 caractères minimum est nécessaire.</div>
                        <div class="invalid-feedback specific-feedback" data-sb-feedback="newPassword:required">Le texte est inférieur à 3 caractères!</div>
                    </div>
                    <br /> 
                    <div id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Le commentaire à été enregistré avec succès.</div>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div id="submitErrorMessage"><div class="text-center text-danger mb-3">Erreur le commentaire n'a pas été enregistré.</div></div>
                    <!-- Submit Button-->
                    <button class="btn btn-primary text-uppercase" id="submitButton">Créer</button>
                </div>
            </div>
        </div>
    </div>
</div>