@charset "UTF-8";
.component-comment {
    margin:10px;
    padding:10px;
    background-color: #F7F1F0;
}
.content-comment {
    padding:10px;
    word-wrap: break-word;
    font-weight: bold;
}
.user-comment {
    padding:10px;
    font-style: italic;
}
/* .comments {
    padding-bottom: 40px;
} */
#load_more {
    margin-top: 40px;
}
#loading-gif {
    display: none;
}



