header.mastheadHome {
  position: relative;
  padding-bottom: 50%;
  background: no-repeat center center;
  background-color: #6c757d;
  background-size: cover;
  background-attachment: scroll;
}
header.mastheadHome:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212529;
  opacity: 0.5;
}
.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.trick-in-list {
  background-color: #b5dee7;
  margin: 5px;
  padding: 5px;
  max-width: 100%;
}
.trick-in-list img {
  max-width: 100%;
}
.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}
.h5-resize {
  font-size: 0.6em;
}
.link-trick-inline .btn .fa-stack {
  font-size: 1em;
}
.link-trick-inline {
  max-width: 40%;
  display: inline-block;
}
@media screen and (min-width: 400px) {
  .h5-resize {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 600px) {
  .trick-in-list {
    background-color: #b5dee7;
    margin: 10px;
    max-width: 25%;
  }
  .h5-resize {
    font-size: 1em;
  }
}
@media screen and (min-width: 800px) {
  .h5-resize {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1000px) {
  .h5-resize {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1200px) {
  .h5-resize {
    font-size: 1.4em;
  }
  .link-trick-inline .btn .fa-stack {
    font-size: 1.2em;
  }
}


