{% extends 'base.html.twig' %}
{% block css %}
    <link href="{{ asset('css/error403.css') }}" rel="stylesheet" />
{% endblock %}
{% block container %}
    <div id="container-403">
        <h5>
        Erreur 403, Vous n'avez pas les autorisations requises pour pouvoir accéder à cette page,
        veuillez vous authentifier via un compte ayant les droits suffisants.
        </h5>
        {% if message is defined %}
            <h6> {{message}} </h6>
        {% endif %}
        {% if user is null %}
            <a href="{{ path('app_login') }}">S'authentifier</a>
        {% endif %}
    </div>
{% endblock %}
