{% extends 'base.html.twig' %}

{% block title %}Forgotten password{% endblock %}

{% block body %}
    <h1>Forgotten Password</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Send me a email'}) }}

    {% if error_message != '' %}
        <div class="alert alert-danger">
            {{ error_message }}
        </div>
    {% endif %}
{% endblock %}
