{% extends 'base.html.twig' %}

{% block container %}
    <div class="margin-bottom">
        {{ include('user/_form.html.twig', {'button_label': 'Envoyer lien réinitialisation'}) }}

    </div>
        {% if error_message != '' %}
            <div class="alert alert-danger">
                {{ error_message }}
            </div>
        {% endif %}
{% endblock %}
