{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
    <h1>Reset my password</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    {# <a href="{{ path('user_index') }}">back to list</a> #}

    {# {{ include('user/_delete_form.html.twig') }} #}
{% endblock %}
