{# {% extends 'base.html.twig' %} #}

{% block container %}
    <h1>Snow Tricks</h1>
    <h2>Vous avez oublié votre mot de passe?</h2>
    <a href="https://127.0.0.1:8000{{path('reset_password', {email: user.email, token: user.token}) }}">Réinitialiser le mot de passe.</a>
{% endblock %}